body {
    width: 300px;
    height: 180px;
    font-family: sans-serif;
    background: #fff; }

a, h1, h2       { color: #377ba8; text-decoration: none; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h1.title        { display:none; }
h2              { font-size: 1.2em; }

.page           { margin: 2px auto; width: 100%; height: 220px; border: 2px solid #ccc; background: white; }
/*.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
*/
.metanav        { text-align: center; font-size: 0.8em; padding: 0.3em;
    margin-bottom: 1em; background: #fafafa; }
/*.flash          { background: #cee5F5; padding: 0.5em;
    border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
*/
.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 11.5px 23px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

/* Cat Bathroom Page */
.score {
    width: 50%;
    /*height: 80px;*/
    height: 60%;
    text-align: center;
    float: left;
}
.pointscore {
    font-size: 7em;
    font-weight: bold;
    color: black;
}

.catscore {
    font-size: 4em;
    font-weight: bold;
    color: blue;
}

.lastreset {
    width: 50%;
    /*height: 80px;*/
    height: 60%;
    text-align: center;
    float: right;
}

.lastcleaning {
    width: 50%;
    /*height: 80px;*/
    height: 60%;
    text-align: center;
    float: right;
}

.dayssince {
    font-size: 3em;
    font-weight: bold;
    color: blue;
}

.cat_dayssince {
    font-size: 4em;
    font-weight: bold;
    color: blue;
}

.lastdate {
    font-size: small;
    color: blue;
}

.cat_lastdate {
    font-size: small;
    color: blue;
}

.resetbutton {
    margin-top: 150px;
    margin-bottom: inherit;
    margin-right: auto;
    margin-left: auto;
    width: 104px;

}

.dire           { color:red }
.red    {color:red}
.orange {color:orange}
.yellow {color:yellow}
.green {color:green}
.blue {color:blue}
.indigo {color:indigo}
.violet {color:violet}