<!doctype html>
<title>{% if title %}{{ title }}{% else %}Chez Hunsinger{% endif %}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1>{% if title %}{{ title }}{% else %}Chez Hunsinger{% endif %}</h1>
    <div class=metanav>
        <div><a href="/catbathroom">Cat Bathroom</a></div>
    </div>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>