{% extends "base.html" %}

{% block body %}

    <div class="score">First Time Asks
        <div class="pointscore {{ values['color'] }}">{{ values['score'] }}</div>
    </div>

    <div class="lastreset">Days Since Reset
        {% if values['days_since'] < 10 %}
            <div class="dayssince">{{ values['days_since'] }}</div>
        {%  else %}
            <div class="dire dayssince">{{ values['days_since'] }}</div>
        {% endif %}
        <div class="lastdate">{{ values['last_date'] }}</div>
    </div>

<div class="resetbutton"><a href="/fta/reset" class="button">RESET</a></div>
{% endblock %}
